[Unit]
Description=AI Board Python Script
After=network.target

[Service]
WorkingDirectory=/home/bottle/Desktop/ai-board/opencv-app
ExecStart=/usr/bin/python3 /home/bottle/Desktop/ai-board/opencv-app/src/main.py
Restart=always
User=bottle
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
